.Contenido{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.filtrosP{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    /* position: fixed; */
    left: 0; 
    height: 100vh;
    margin:0

}
.ContenidoP{

/* margin-left: 220px; */
width: 84%;
display: flex;
justify-content: center;
}
