/* dog Area */
.DogContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   margin-top: 60px;
  

}
.Paginacion{
        min-width: 100%;
}

.filterSection select {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.filterSection select {
   margin: 10px;
   padding: 5px 1px;
   width: 170px;
   height: 50px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 60px;
   display: block;
 }

 .filterSection select:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   
 }
 .filterSection select option{
color: black;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,117,121,1) 35%, rgba(0,212,255,1) 100%);
 }

.AggPerro {background-image: linear-gradient(to right, #003fab 0%, #13ffd4c7  51%, #43C6AC  100%)}
.AggPerro {
  margin: 10px;
  padding: 5px 1px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 40px;
   display: block;
   border: 2px solid gray;
 }

 .AggPerro:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.AggPerro2 {background-image: linear-gradient(to right, #000000 0%, #ffffffc7  51%, #c64394  100%)}
.AggPerro2 {
  margin: 10px;
  padding: 5px 1px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 40px;
   display: block;
   border: 2px solid gray;
 }

 .AggPerro2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .filterSection select option{
 border-radius: 20px;
 }
 .mainContainerCreation{
   width: 600px;
 }
 .mainContainerCreation,
.mainContainerCreation::before,
.mainContainerCreation::after {
  border-radius: 100px;
  background-color: rgba(2, 62, 126, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 22px rgba(253, 0, 0, 0.08);
  text-align: center;
  color: white;
}

 .totoCreate{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .Section input{
border: none;
background-color: transparent;
border-bottom: rgb(0, 46, 42) solid 1px;
margin-left: 50px;
color:white;
font-size: 1.2rem;
 }

 .Section input:focus{
  border: none;
  outline: none;
border-bottom: rgb(11, 118, 107) solid 1px;
   }
   .Section input::placeholder{
    color:rgb(80, 75, 0)
   }
.Section label{
  font-size: 1.2rem;
  font-weight: bold;
  font-family:sans-serif;
}
.ValidadorError{
color: white;
box-shadow: rgba(238, 0, 0, 0.35) 0px 5px 15px;
background-color: rgba(160, 18, 189, 0.35);
width: 250px;
margin: 10px;

}
.erroConte{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Section{

}