/* dog Area */
.DogContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
  

}
.Paginacion{
  
        min-width: 100%;
    
}

/* filtros */
.ContenedorFiltros{
  /* background-color: black; */
  width: 100vw;
  color: black;
  display: flex;
}