.NavPrincipal{
 background-color: black;
 height: 8vh;
 margin: 0;
 border-bottom: tomato solid 10px;
}

.ulNavbar{
display: flex;
 margin: 0;
 align-items: center;
 height: 100%;

}
.navContenido{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.navContenido a{
    color: white;
    text-decoration: none;

}
.searchDiv{
    width: 50%;
    display: flex;
    justify-content: right;

}

